@import "../../assets/style/colors.scss";
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss';

.table {
    border-color: $colorGrey;

    thead {
        background-color: $colorGreyLighter;
    }

    tbody {
        td {
            border-bottom: none;
        }
    }
    
    tr {
        border-bottom: 1px solid $colorGrey;

        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
        }

        th {
            border-bottom-width: 1px !important;
            border-color: $colorGrey !important;
            border-left: none;
            border-right: none;
            text-transform: uppercase;
            white-space: nowrap;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        td {

            @include media-breakpoint-down(md) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid $colorGreyDarker !important;

                &:nth-of-type(1)::before {
                    content: "FILENAME";
                    font-weight: 800;
                }

                &:nth-of-type(2)::before {
                    content: "SCAN TIME";
                    font-weight: 800;
                }

                &:nth-of-type(3)::before{
                    content: "SCAN RESULTS";
                    font-weight: 800;
                }

                &:nth-of-type(4) {
                    display: none;
                }

                &:nth-of-type(5)::before {
                    content: "SANDBOX VERDICT";
                    font-weight: 800;
                }
            }

            vertical-align: middle;
            
            &:first-of-type {
                display: flex;
                align-items: center;   
            }

            small {
                word-break: break-all;
            }

            .scanNameHash {
                word-break: break-all;
            }

            & .noThreatsFound {
                color: $green;

                a:link,
                a:visited,
                a:hover {
                    word-break: break-word;
                    &:not(.trash) {
                        color: $green;
                    }
                }
            }

            & .sandboxInformational {
                color: $green;

                a:link,
                a:visited,
                a:hover {
                    word-break: break-word;
                    &:not(.trash) {
                        color: $green;
                    }
                }
            }

            & .sandboxSuspicious {
                color: #fdbd0d;

                a:link,
                a:visited,
                a:hover {
                    word-break: break-word;
                    &:not(.trash) {
                        color: $red;
                    }
                }
            }

            & .sandboxLikelyMalicious {
                color: #ed6706;

                a:link,
                a:visited,
                a:hover {
                    word-break: break-word;
                    &:not(.trash) {
                        color: $red;
                    }
                }
            }

            & .sandboxMalicious {
                color: #d00300;

                a:link,
                a:visited,
                a:hover {
                    word-break: break-word;
                    &:not(.trash) {
                        color: $red;
                    }
                }
            }

            & .sandboxBenign {
                color: #1d6bfc;

                a:link,
                a:visited,
                a:hover {
                    word-break: break-word;
                    &:not(.trash) {
                        color: $red;
                    }
                }
            }

            & .sandboxUnknown {
                color: #313c4e;

                a:link,
                a:visited,
                a:hover {
                    word-break: break-word;
                    &:not(.trash) {
                        color: $red;
                    }
                }
            }
        }

        .icon-spin {
            color: $secondaryColor;
        }
    }
}