@import "../../assets/style/colors.scss";

// General Popup Styles
.popup-wrapper {
  width: 350px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__logo {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    background-image: url('../../assets/images/metadefender-chrome-black.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 117px;
    height: 53px;
  }

  &__btn {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.popup-section {
  margin-bottom: 20px;

  &__header {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.popup-box {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background: #f9f9f9;
  
}

// Scan History List Styles
.scan-history-list {
  border-top: 1px solid $colorGreyLight;
  border-bottom: 1px solid $colorGreyLight;
  margin: 0;

  .scan-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background: #ffffff;
    box-sizing: border-box; // Ensures padding and border are included in the width

  }
}

// Domain Reputation Styles
.domain-reputation {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background: #ffffff;
    box-sizing: border-box;
}

.mcl-icon {
  font-size: 18px;
}

.icon-ok {
  color: green;
}

.icon-cancel {
  color: red;
}

.icon-spin {
  color: #666;
}

.text-right {
  text-align: right;
}
