@import "../../assets/style/colors.scss";

// General Popup Styles
.popup-wrapper {
  width: 350px;
  padding: 20px;
  background: #111f42;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-image: url('../../assets/images/metadefender-chrome.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 117px;
    height: 53px;
  }

  &__btn {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.popup-section {
  margin-bottom: 20px;

  &__header {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
  }
}

.popup-box {
  border: 1px solid #111f42;  // Match the border color to the background
  border-radius: 5px;
  background: #111f42;  // Match the background color
  color: #fff;  // Set the text color to white
}

// Scan History and Domain Reputation Styles
.history-list {
  border: none;
  background-color: #111f42;
  padding: 0; // Remove padding from the list
  margin: 0;

  .history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0; // Adjust the margin to avoid extra spacing
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background: #ffffff;
    color: #000;  // Set the text color to black for contrast
    box-sizing: border-box; // Ensures padding and border are included in the width
  }
}

// Domain Reputation Styles
.domain-reputation {
  padding: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background: #ffffff;
  color: #000;  // Set the text color to black for contrast
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; // Center text vertically and horizontally
}

.mcl-icon {
  font-size: 18px;
}

.icon-ok {
  color: green;
}

.icon-cancel {
  color: red;
}

.icon-spin {
  color: #666;
}

.text-right {
  text-align: right;
}
